table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

  body{
    margin: 10px;
  }
h4{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
.printButton{
}
  @media print {
    /* Hide non-essential elements */
    body {
      background-color: white;
    }
  
    .print-button-container {
      display: none; 
    }
  
  }