table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
   footer {
    display: none; /* Hide header and footer for screen display */
  }
  
  body{
    margin: 10px;
  }
h4{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
.printButton{
}
  @media print {
    /* Hide non-essential elements */
    body {
      background-color: white;
    }
  
    .print-button-container {
      display: none; 
    }
   
  
    footer {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f0f0f0;
      text-align: center;
      padding: 10px;
    }
  }


